body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
}
#main{
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
}
#img{
    width: 70%;
}

#tribute-info{
    text-align: left;
   font-weight: bold;
   
}
p{
    text-align: left;
}

h3{
    margin-bottom: 3em;
}

#list ul li{
    margin-bottom: 1.2em;
}

#main #title p{
    text-align: center;
}
#image{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-div{
    background: white;
    padding: 10px;
    margin: 0;
}
.bold{
    font-weight: bold;
}
#list{
    text-align: left;
    margin: 0 2.5rem;
}

#title{
    text-align: center;
}
#img-caption{
    text-align: center;
}

h1{
    font-size: 4reem;
}